<template>
<div class="home mt-5">
    <v-container>
        <!-- TimeSheet -->
        <v-row no-gutters>
            <v-col cols="12" sm="12" class="mt-5">
                <v-data-table :headers="headers" :items="res" item-key="Name" class="elevation-1">
                    <template v-slot:[`item.in`]="{ item}">
                        <v-menu ref="menu" v-model="item.startDate" :close-on-content-click="false" :nudge-right="40" :return-value.sync="time" transition="scale-transition" offset-y max-width="290px" min-width="290px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field v-model="item.in" label="In" prepend-icon="mdi-clock-time-four-outline" readonly v-bind="attrs" v-on="on"></v-text-field>
                            </template>
                            <v-time-picker v-if="item.startDate" v-model="item.in" full-width @click:minute="$refs.menu.save(time)"></v-time-picker>
                        </v-menu>
                    </template>
                    <template v-slot:[`item.out`]="{  item}">
                        <v-menu ref="menuout" v-model="item.endDate" :close-on-content-click="false" :nudge-right="40" :return-value.sync="time" transition="scale-transition" offset-y max-width="290px" min-width="290px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field v-model="item.out" label="Out" prepend-icon="mdi-clock-time-four-outline" readonly v-bind="attrs" v-on="on"></v-text-field>
                            </template>
                            <v-time-picker v-if="item.endDate" v-model="item.out" full-width @click:minute="$refs.menuout.save(time)"></v-time-picker>
                        </v-menu>
                    </template>
                    <template v-slot:[`item.Status`]="{ item }">
                        <v-select v-model="item.selectedStatus" @change="onChangeStatus(item)" :items="item.Status"></v-select>
                    </template>
                    <template v-slot:[`item.lunch`]="{ item }">
                        <v-select v-model="item.selectedLunch" @change="onChangeLunch(item)" :items="item.lunch"></v-select>
                    </template>
                    <template v-slot:[`item.plan`]="{ item }">
                        {{item.plan}}
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
        <!-- End TimeSheet -->
        <!-- Total Of Hours -->
        <v-row no-gutters>
            <v-col cols="12" sm="12" class="mt-5 pull-left">
                <v-chip class="ma-2 float-right" color="green" text-color="white">

                    Total Of Hours > <span color="red"> {{  totalRes}}</span>
                </v-chip>
            </v-col>
        </v-row>
        <!--End Total Of Hours -->
    </v-container>

</div>
</template>

<script>
// @ is an alias to /src

export default {
    name: "Home",
    components: {},
    data() {
        return {
            expanded: [],
            singleExpand: false,
            cSel: '',
            status: null,
            res: [],
            totalRes: '00:00',
            search: '',
            loading: false,
            options: {
                page: 1,
                itemsPerPage: 40,
            },

            headers: [{
                    text: 'Date',
                    value: 'Date'
                },
                {
                    text: 'Weekday',
                    value: 'Weekday'
                },
                {
                    text: 'IN',
                    value: 'in'
                },
                {
                    text: 'OUT',
                    value: 'out'
                },
                {
                    text: 'LUNCH',
                    value: 'lunch'
                },
                {
                    text: 'STATUS',
                    value: 'Status'
                },
                {
                    text: '+_',
                    value: 'plusMi'
                },
                {
                    text: 'PLAN',
                    value: 'plan'
                },

            ],

            plan: '0',
            lunch: null,
            subtractTime: '00:00'
        }
    },
    mounted() {
        this.getTimeSheetData()
    },
    methods: {
        // get TimeSheet Data to Draw Table
        getTimeSheetData() {
            this.res = [{
                    id: "1", //should be unique
                    startDate: false,
                    endDate: false,
                    Date: '01/06',
                    Weekday: 'Sunday',
                    in: '00:00',
                    out: '00:00',
                    lunch: ['00:00', '00:30', '01:00', '01:30', '02:30'],
                    selectedLunch: '00:00',
                    Status: ['Work from home', 'Business trip', 'Public holiday'],
                    selectedStatus: '',
                    plusMi: '0',
                    plan: '00:00',
                },
                {
                    id: "2", //should be unique
                    startDate: false,
                    endDate: false,
                    Date: '01/09',
                    Weekday: 'friday',
                    in: '00:00',
                    out: '00:00',
                    lunch: ['00:00', '00:30', '01:00', '01:30', '02:30'],
                    selectedLunch: '00:00',
                    Status: ['Work from home', 'Business trip', 'Public holiday'],
                    selectedStatus: '',
                    plusMi: '0',
                    plan: '00:00',
                },

            ]
        },
        // when select status in table
        onChangeStatus(row) {
            var foundIndex = this.res.findIndex(x => x.id == row.id);
            if (row.selectedStatus == 'Public holiday') {
                row.plan = '00:00'
                this.res[foundIndex] = row;

            } else {
                var subtractInAndOutTime = this.getSubtractTime(row.out, row.in)
                var planTime = this.getSubtractTime(subtractInAndOutTime, row.selectedLunch)
                row.plan = planTime
                this.res[foundIndex] = row;
            }
            this.getTotalOfPlan()

        },
        // substract two time 
        getSubtractTime(t1, t2) {
            var time1 = t1
            var time2 = t2

            function strToMins(t) {
                var s = t.split(":");
                return Number(s[0]) * 60 + Number(s[1]);
            }

            function minsToStr(t) {
                return Math.trunc(t / 60) + ':' + ('00' + t % 60).slice(-2);
            }

            var result = minsToStr(strToMins(time1) - strToMins(time2));
            let hrs = result.split(':')[0];
            let mins = result.split(':')[1];

            let hrsDigits = this.convert(hrs)
            let minsDigits = this.convert(mins)

            let newTime = `${hrsDigits}:${minsDigits}`
            this.subtractTime = newTime
            return newTime

        },
        // collect two time 
        collectTime(t1, t2) {
            var time1 = t1
            var time2 = t2

            function strToMins(t) {
                var s = t.split(":");
                return Number(s[0]) * 60 + Number(s[1]);
            }

            function minsToStr(t) {
                return Math.trunc(t / 60) + ':' + ('00' + t % 60).slice(-2);
            }

            var result = minsToStr(strToMins(time1) + strToMins(time2));
            let hrs = result.split(':')[0];
            let mins = result.split(':')[1];

            let hrsDigits = this.convert(hrs)
            let minsDigits = this.convert(mins)

            let newTime = `${hrsDigits}:${minsDigits}`

            return newTime

        },
        // when select lunch time in table
        onChangeLunch(row) {
            var subtractInAndOutTime = this.getSubtractTime(row.out, row.in)
            var planTime = this.getSubtractTime(subtractInAndOutTime, row.selectedLunch)
            row.plan = planTime
            var foundIndex = this.res.findIndex(x => x.id == row.id);
            this.res[foundIndex] = row;
            this.getTotalOfPlan()
        },
        // get total of hour
        getTotalOfPlan() {
            let totalofPlan = ''
            let allTime = '00:00'
            for (var j = 0; j < this.res.length; j++) {
                totalofPlan = this.collectTime(this.res[j].plan, allTime)
                allTime = totalofPlan
            }
            this.totalRes = allTime

        },
        // convert time to two digits
        convert(n) {
            n = String(n)
            if (n.length == 1)
                n = '0' + n
            return n
        }

    }
};
</script>
