@media screen and (max-width: 991px){

  
}
@media (max-width: 991px) and (min-width: 768px){
  
}

@media screen and (min-width: 768px){
  
}

@media screen and (min-width: 992px){
  

}

@media screen and (max-width: 768px){
 


}

@media screen and (max-width: 767px){
  
}
@media screen and (max-width: 374px){

}

@media screen and (max-width: 413px){
}